body {
  font-family: 'Source Sans Pro', sans-serif;
}

.tag-input, .tag-stream {
  display: table;
  margin: 0 auto;
}

.tag-stream {
  padding: 0 8em;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 2em;
}

ul > li {
  margin-bottom: 1em;
}

input[type=text] {
  font-size: 1.6em;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
}

input[type=text]:focus {
  outline: none;
}
